# Logs
logs/

# Environment variables
.env

# GCP include folder
include/gcp/

include/dataset/

# Specific configuration file
include/soda/edw_loaded/configuration.yml
include/soda/edw_cleaned/configuration.yml
include/soda/edw/configuration.yml

superset/*
!superset/docker-compose-image-tag.yml
!superset/Dockerfile.bigquery
spark-jars/

jars.tar.gz

full_zsh_history.txt

